@charset "UTF-8";


/* 共通 */
/* cssでの変数定義 */
:root {
    --text: #222;
    --muted: #666;
    --bg: #fff;
    --border: #ddd;
    --max: 1100px;
}

body {
    width: 100%;
    color: var(--text);
    background: var(--bg);
    font-family: "Helvetica Neue", Arial, "Hiragino Kaku Gothic ProN", "Yu Gothic", Meiryo, sans-serif;
    line-height: 1.7;
    box-sizing: border-box;
    font-size: 62.5%;
}

a {
    color: #000;
    text-decoration: none;

}

img {
    width: 100%;
    height: auto;
}

li {
    list-style: none;
}

h2 {
    font-size: 3rem;
    font-family: Hiragino Kaku Gothic ProN;
    font-weight: 200;
}



/* ヘッダー */
.header,
.main,
footer {
    width: min(80%, var(--max));
    margin: 0 auto;
}

.header {
    display: flex;
    justify-content: start;
    margin: 50px auto 30px;

}

.logo {
    width: 50%;
    align-items: center;
    height: auto;
    padding: 10px;
}


/* メイン */
.main {
    margin-top: 10vw;
}

.item-list {
    display: grid;
    grid-template-columns: 1fr 1fr;
    width: 100%;
    height: auto;
    gap: 70px;
    margin: 10px auto;
}

.item-des {
    line-height: 1.5;
    font-size: 1.2rem;
}


.pages-guide {
    display: flex;
    justify-content: center;
    width: 100%;
    height: auto;
    font-size: 1rem;
    padding: 50px;
    margin-bottom: 50px;
    letter-spacing: 1rem;
}

/* フッター */
footer {
    border-top: 1px solid var(--border);
    padding: 20px 0 28px;
}

small {
    display: block;
    padding: 30px 0;
    margin: 30px 0;
    color: var(--muted);
}

.sns-list {
    display: flex;
    justify-content: start;
    gap: 80px;
    font-size: 1rem;
    letter-spacing: 0.5rem;
}